BasicC/obj/Debug/net5.0/BasicC.GeneratedMSBuildEditorConfig.editorconfig
BasicC/obj/
Lecture 2/bin/
Lecture 2/obj/
Lecture2_MVC/bin/
Lecture2_MVC/obj/
Lecture3/bin/
Lecture3/obj/
Lecture3_Web/bin/
Lecture3_Web/obj/
